#neme {
    background-image:url(/resources/assets/front/img/home_img.jpg);
    background-repeat:space;
    background-position:center 100%;
    background-size: cover;
    background-attachment: fixed;
}